body {
    background-color: rgb(16, 14, 22);
}

.container {
    width: 100%;
    height: 100%;
    background-color:  rgb(29, 29, 36);
    display: flex;
}

.left-bar {
    width: 17%;
    height: 100%;
    background-color: rgb(41, 40, 54);
    display: flex;
    text-align: center;
    flex-direction: column;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 20px;
    
}

.figure {
    background-color: rgb(57, 52, 66);
    margin: 3px;
    color: azure;
    font-size: small;
}

.row {
    display: flex;
    margin: 30px;
    
}

.bold {
    font-weight: bold;
    margin-left: 25px;
    color: aliceblue;
}

.align-right {
    width: 100%;
    text-align: right;
    margin-right: 25px;
    color: aliceblue;
}

.lang-progression {
    display: flex; 
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    color: aliceblue;
    row-gap: 20px;
}

.circular-progress-italian {
    position: relative;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: conic-gradient(rgb(248, 143, 5) 360deg,white 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circular-progress-english {
    position: relative;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: conic-gradient(rgb(248, 143, 5) 300deg,white 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circular-progress-spagnol {
    position: relative;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: conic-gradient(rgb(248, 143, 5) 60deg,white 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circular-progress-italian::before {
    content: "";
    position: absolute;
    height: 35px;
    width: 35px;
    background-color: rgb(61, 63, 88);
    border-radius: 50%;
}

.circular-progress-english::before {
    content: "";
    position: absolute;
    height: 35px;
    width: 35px;
    background-color: rgb(61, 63, 88);
    border-radius: 50%;
}

.circular-progress-spagnol::before {
    content: "";
    position: absolute;
    height: 35px;
    width: 35px;
    background-color: rgb(61, 63, 88);
    border-radius: 50%;
}



.progress-value {
    position: relative;
    color: aliceblue;
    font-size: 10px;
    
}

.lang-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 18px;
    margin-bottom: 18px;
}

.progress-bar {
    width: 210px;
    height: 18px;
    background-color: gray;
    border-radius: 7px;
    flex-direction: row;
    display: flex;
}

.progress-fill {
    width: 70%;
    height: 100%;
    background-color: orange;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    border-radius: 7px;
}    

.progress-bar-html {
    display: flex;
    width: 100%;
    margin: 18px;
}

.progress-text {
    width: 25%;
    text-align: right;
    align-items: center;
    color: aliceblue;
    font-weight: bold;
    font-size: 15px;
}

header {
    width: 78%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.present-bar {
    width: 95%;
    height: 450px;
    background-color: brown;
    display: flex;
    align-items: center;
    text-align: center;
    background: url(../img/cyberpunk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 3px;
}

.present-pick {
    border-radius: 35%;
    height: 450px;
    width: 350px;
    margin-top: 3px;
}

.present-figure {
    width: 100%;
    text-align: end;
}

.present-desr {
    font-weight: bolder;
    font-size: 60px;
    margin-left: 200px;
    color: rgb(224, 224, 226);
}

.row-bio {
    display: flex;
    margin-top: 70px;
    width: 90%;
    justify-content: space-between;
}

.bio {
    width: 400px;
    height: 285px;
    background-color: rgb(57, 52, 66);
    text-align: center;
    
}

h2 {
    color: rgb(236, 197, 20);
}

p {
    margin: 10px;
    font-weight: 500;
    font-size: 20px;
    color:rgb(245, 239, 232);
}

section {
    height: 70px;
    width: 100%;
    background-color: rgb(57, 52, 66);
}
