body {
    background-color: rgb(16, 14, 22);
    width: auto;
    height: auto;
    font-family: "Helvetica", "Arial", sans-serif;
}

.container {
    background-color:  rgb(29, 29, 36);
    display: flex;
}

.left-bar {
    width: 22%;
    height: 100%;
    background-color: rgb(41, 40, 54);
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 5px;
    margin-left: 5px;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 20px;
}

.figure {
    background-color: rgb(57, 52, 66);
    margin: 3px;
    color: azure;
    font-size: small;
}

.row {
    display: flex;
    margin: 30px;
    
}

.bold {
    font-weight: bold;
    margin-left: 25px;
    color: aliceblue;
}

.align-right {
    width: 100%;
    text-align: right;
    margin-right: 25px;
    color: aliceblue;
}

.lang-progression {
    display: flex; 
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    color: aliceblue;
    row-gap: 20px;
    transition: 1.2s ease;
    -webkit-transition: 1.2s ease;
    margin-top: 10px;
    margin-bottom: 10px;
}

.lang-progression:hover {
    transform : scale(1.3);
    -webkit-transform : scale(1.2);
    border-radius: 10%;
}

.circular-progress-italian {
    position: relative;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: conic-gradient(rgb(248, 143, 5) 360deg,white 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circular-progress-english {
    position: relative;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: conic-gradient(rgb(248, 143, 5) 300deg,white 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circular-progress-spagnol {
    position: relative;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: conic-gradient(rgb(248, 143, 5) 60deg,white 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circular-progress-italian::before {
    content: "";
    position: absolute;
    height: 35px;
    width: 35px;
    background-color: rgb(61, 63, 88);
    border-radius: 50%;
}

.circular-progress-english::before {
    content: "";
    position: absolute;
    height: 35px;
    width: 35px;
    background-color: rgb(61, 63, 88);
    border-radius: 50%;
}

.circular-progress-spagnol::before {
    content: "";
    position: absolute;
    height: 35px;
    width: 35px;
    background-color: rgb(61, 63, 88);
    border-radius: 50%;
}



.progress-value {
    position: relative;
    color: aliceblue;
    font-size: 10px;
    
}

.lang-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 18px;
    margin-bottom: 18px;
}

.progress-bar {
    width: 230px;
    height: 18px;
    background-color: gray;
    border-radius: 7px;
    flex-direction: row;
    display: flex;
    margin-left: 25px;
    transition: 1.2s ease;
    -webkit-transition: 1.2s ease;
    margin-top: 8px;
    margin-bottom: 3px;
}

.progress-bar:hover {
    transform : scale(1.3);
    -webkit-transform : scale(1.2);
}

.progress-fill {
    width: 70%;
    height: 100%;
    background-color: orange;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    border-radius: 7px;
}    

.progress-bar-html {
    display: flex;
    width: 100%;
    margin-top: 18px;
    margin-bottom: 18px;
}

.progress-text {
    width: 25%;
    text-align: right;
    align-items: center;
    color: aliceblue;
    font-weight: bold;
    font-size: 15px;
    margin-right: 5px;
    margin-top: 7px;
}

header {
    width: 78%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.present-bar {
    width: 95%;
    height: 30%;
    display: flex;
    align-items: center;
    text-align: center;
    background: url(../img/cyberpunk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 3px;
}

.present-pick {
    border-radius: 35%;
    width: 350px;
    margin: 1px solid;
}

.present-figure {
    width: 100%;
    text-align: end;
}

.present-desr {
    font-weight: bolder;
    font-size: 65px;
    width: 80%;
    color: rgb(224, 224, 226);
    
}

.row-bio {
    display: flex;
    margin-top: 50px;
    width: 90%;
    justify-content: space-around;
}

.bio {
    width: 400px;
    background-color: rgb(57, 52, 66);
    text-align: center;
    margin: 20px;
    font-family: 'Shantell Sans';
    transition: 1.2s ease;
    -webkit-transition: 1.2s ease;
}

.bio:hover {
    transform : scale(1.3);
    -webkit-transform : scale(1.1);
    border-radius: 10%;
}

h2 {
    color: rgb(236, 197, 20);
}

p {
    margin: 10px;
    font-weight: 500;
    font-size: 20px;
    color:rgb(245, 239, 232);
}

section {
    height: 70px;
    width: auto;
    background-color: rgb(57, 52, 66);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    transition: 1.2s ease;
    -webkit-transition: 1.2s ease;
}

section:hover {
    transform : scale(1.3);
    -webkit-transform : scale(1.05);
}

.fa {
    padding: 20px;
    width: 15px;
    height: 15px;
    text-align: center;
    text-decoration: none;
}
  
  .fa:hover {
    opacity: 0.7;
}
  
  .fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 50%;
}
  
  .fa-instagram {
    background: #e417a6;
    color: white;
    border-radius: 50%;
}

  .fa-github {
    background: #171618;
    color: white;
    border-radius: 50%;
}

  .fa-twitch {
    background: #7709df;
    color: rgb(238, 232, 238);
    border-radius: 50%;
}

.button:link,                
.button:visited {             
  display: block;             
  text-decoration: none;      
  font-size: 20px;
  color: #e4cf18;                
  background-color: rgb(29, 29, 36);
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 5px;
  width: 80%;
  margin: 12px auto;
  transition: 1.2s ease;
  -webkit-transition: 1.2s ease;
}

.button:hover,
.button:visited:hover {
  color: #FFF;
  background-color: rgb(42, 42, 53);
  transform : scale(1.3);
  -webkit-transform : scale(1.05);
}

.button:active,
.button:visited:active {
  color: #FFF;
  background-color: rgb(29, 29, 36);
}

  @media only screen and (max-width: 450px) {
    body {
        background-color: rgb(29, 29, 36);
    }
     .container,
     .left-bar {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
     }

     header {
        width: 100%;
     }
     .present-bar {
        width: 98%;
        text-align: center;
        height: 350px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      
     }
    
     .present-desr {
        font-size: 22px;
        width: 100%;
     }
     
     .present-figure {
        width: 100%;
        text-align: center;
     }
     .present-pick {
        width: 155px;
     }

     .row-bio {
        display: flex;
        flex-wrap: wrap;
     }

     .bio {
        margin-top: 10px;
        height: auto;
     }

     .progress-bar {
        margin-left: 20px;
    }
}
  

  @media only screen and (min-width: 451px) and (max-width: 1280px) {
    body {
        background-color: rgb(29, 29, 36);
    }
    .container,
     .left-bar {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
     }

     header {
        width: 100%;
     }
     .present-bar {
        width: 100%;
        height: 420px;
        text-align: center;
        justify-content: center;
     }
    
     .present-desr {
        font-size: 40px;
        width: 100%;
        align-items: center;
        text-align: center;
     }
     
     .present-pick {
        width: 200px;
        border-radius: 40%;
     }

     .row-bio {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
     }

     .bio {
        margin-top: 10px;
        height: auto;
        margin: 5px;
     }

     .progress-bar {
        margin-left: 50px;
        width: 55%;
    }

    .progress-text {
        width: 34%;
    }
}


  @media only screen and (min-width: 1280px) {
    body {
        background-color: rgb(16, 14, 22);
    }

    .row-bio {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

 





  



  
